.icon-icn-close-alt { background-image: url(png/icn-close-alt.png); background-repeat: no-repeat; }

.icon-icn-close { background-image: url(png/icn-close.png); background-repeat: no-repeat; }

.icon-icn-location { background-image: url(png/icn-location.png); background-repeat: no-repeat; }

.icon-icn-locked { background-image: url(png/icn-locked.png); background-repeat: no-repeat; }

.icon-icn-love { background-image: url(png/icn-love.png); background-repeat: no-repeat; }

.icon-icn-music { background-image: url(png/icn-music.png); background-repeat: no-repeat; }

.icon-icn-up { background-image: url(png/icn-up.png); background-repeat: no-repeat; }