body {
  background-color: $color-background;
  color: $color-body-hex;
  color: $color-body;
  font-family: 'proxima-nova-condensed', Helvetica, Arial, sans-serif;
  font-size: $font-base;
  line-height: calc-em(27px, $font-base); 

  &:after {
		content: 'base'; 
		display: none;
	}
}

p { margin: 0 0 1em 0; }

a {
	color: $color-body-hex;
	color: $color-body;
	text-decoration: none;
	border-color: $color-body-hex;
	border-bottom: 1px dotted $color-body;
	padding-bottom: .2em;
  @include transition(
    $time-default color ease, 
    $time-default border-color ease
  );
  
	&:hover {
		color: $color-neutral-hex;
    color: $color-neutral;
		border-color: $color-neutral-hex;
		border-color: $color-neutral;
 	}

	&:visited { 
		color: $color-body-hex;
		color: $color-body;
	}
 
}

abbr[title] { border: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 1em;
	color: #fff;
	margin: 0;
}

img { max-width: 100%; }

@media all and (min-width: $media-sm) {
	body:after {
	 	content: 'small'; 
		display: none;
	}
}

@media all and (min-width: $media-md) {
	body:after {
		content: 'medium'; 
		display: none;
	}
}

@media all and (min-width: $media-md) {
  body:after {
    content: 'large'; 
    display: none;
  }
}