.no-touch {
	.items-songs {
		a.is-active,
		a:hover {
			cursor: pointer;
			border-color: $color-neutral-hex;
			border-color: $color-neutral;
			text-shadow: 0 0 1px $color-relief;			
			box-shadow: inset 0 0 $unit-h $color-neutral;
		}

		a.is-active { border-color: rgba(0,0,0,.25); box-shadow: inset 0 0 $unit-h rgba(0,0,0,.25); }

	}
}

.no-js {
	.timeline-wrap { min-height: 120px; }
	.timeline { min-height: auto; }
}