.hdr-headline {
	$font-local: 45px;

	font-size: calc-em($font-local, $font-base);
	line-height: calc-em(40px, $font-local);
	font-weight: 800;
	margin-bottom: calc-em(20px, $font-local);
	text-shadow: -1px -1px 1px #cfcfcf;
	font-style: italic; 
		
	a {
		color: #fff;
		border-bottom: none;
	}
}

.hdr-subhead {
	$font-local: 32px;

	font-size: calc-em($font-local, $font-base);
	line-height: calc-em(38px, $font-local);
	letter-spacing: -1px;
	font-weight: 300;
	margin-bottom: 0;
	color: $color-body-hex;
	color: $color-body;
}

.hdr-title {
	$font-local: 22px;

	color: #fff;
	font-size: calc-em($font-local, $font-base);
	margin-bottom: calc-em(10px, $font-local);
}

.message {
	text-align: center;
	font-weight: 800;
	font-size: calc-em(18px, $font-base);
	margin-top: 40px;
}
	
.accessibility { 
  position: absolute; 
  left: -999em; 
}

.colophon { 
	font-size: calc-em(16px, $font-base); 
	margin-bottom: 1em;
	display: block;
}

.term { 
	font-weight: 700; 
	margin-right: .2em;
}

.caption { 
	margin: 0 0 0 $unit-h; 
	font-weight: 800;
}

.alert {
	font-weight: 700;
	margin: 0;

	.icon { float: left; }
}