$color-background: rgb(181,224,235);
$color-accent: rgb(240,95,62);
$color-hover: rgb(242,208,94);

$color-inverse: rgb(102,194,222);

$color-neutral: rgba(50,50,50,.2); 
$color-neutral-hex: rgb(204,204,204);

$color-neutral-lite: rgba(150,150,150,.1);
$color-neutral-lite-hex: rgb(239,239,239);

$color-relief: rgba(255,255,255,.66);
$color-relief-hex: rgb(230,245,248);

$color-body: rgba(0,0,0,.4);
$color-body-hex: rgb(108,133,140);

$font-base: 16px;

$unit-h: 20px;
$unit-v: 15px;

$time-default: 300ms;

$media-sm: 32em;
$media-md: 45em;
$media-lg: 60em;

@function calc-em($target-px, $context) {
  @return ($target-px / $context) * 1em;
}